@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --dark-green: #225a27;
    --white: #f2f2f2;
    --secondary-white: #e5e5e5;
    --darker-white: #59815c;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.navbar {
    padding-top: 15px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin: 0 .7em;
}

nav ul li a {
    cursor: pointer;
}



.burger {
    display: none;
}

nav ul li a,
nav.fill ul li a {
  position: relative;
  padding-bottom: 2px;
}
nav ul li a:after,
nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--darker-white);
  height: 1px;
  transition: .5s;
}
nav ul li a:hover:after {
  width: 100%;
}

.logo {
    font-weight: 700;
    color: var(--dark-green);
    font-size: 1.4em;
}

.contactcta {
    background-color: var(--dark-green);
    color: var(--white);
    padding: 3px 6px;

}


.hero .container {
    display: flex;
    align-items: center;
    height: 90vh;
}

.hero-text {
    width: 47%;
    margin-right: 1em;
}

.illus-div {
    width: 53%;
    z-index: -1;
}

.illus {
    width: 100%;
    transform: scaleX(-1);
}
.hero-text h1 {
    font-size: 3em;
    width: max-content;
    font-weight: 600;
}

.hero-text p {
    color: var(--dark-green);
    margin: 1em 0;
    font-weight: 500;
}

.hero-text button#know-cta {
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: #dddddd;
    font-size: 1em;
    padding: 3px 6px;
    border-radius: 5px;
    cursor: pointer;
}
.hero-text a.recentwork-btn {
    font-family: 'Montserrat', sans-serif;
    border: solid 2px var(--dark-green);
    background-color: transparent;
    font-size: 1em;
    padding: 3px 6px;
    color: var(--dark-green);
    border-radius: 5px;
}


.recentprojects {
    background-color: var(--secondary-white);
    padding-bottom: 5em;
    padding-top: 3em;
}



.recentprojects .slidercontainer {
    display: flex;
    justify-content: center;
    padding-top: 0em;
}

.slider {
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
    position: relative;
}

.slides input{
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img{
    width: 80%;
    margin-right: -5em;
    position: relative;
}

.slide h1 {
    width: max-content;
    font-size: 2.4em;
    font-weight: 600;
}

.slide .projecttext{
    width: 50%;
    margin-right: -7em;
}

.projecttext h3 {
    font-weight: 400;
    margin-bottom: .5em;
    margin-top: .5em;
    color: var(--dark-green);
}

.projecttext a {
    color: #444444;
}

.thirdproj img{
    width: 50%;
    margin-left: -7em;
}

.navigation-manual{
    position: absolute;
    width: 1000px;
    display: flex;
    justify-content: center;
    bottom: 10px;
}

.manual-btn {
    border: 2px solid var(--darker-white);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--darker-white);
}


#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    width: 1000px;
    display: flex;
    justify-content: center;
    bottom: 10px;
}

.navigation-auto div {
    border: solid 2px var(--darker-white);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--darker-white);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--darker-white);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--darker-white);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: var(--darker-white);
}

.recentprojects .container h1.projectheader {
    font-size: 4em;
    font-weight: 500;
    color: var(--dark-green);
    text-align: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 2em 0;
}


.about {
    height: 50vh;
}

.about .container {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    height: 100%;
}

.about h1 {
    font-size: 2em;
}

.about h1 span {
    color: var(--dark-green);
}

.abouttext {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-top: 1em;
}

.skills {
    height: 30vh;
    display: grid;
    place-content: center;
    background-color: var(--white);
    margin-bottom: 3em;
}

.skills .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.skills .skillbox {
    padding: 0 2em;
}

.skills .center {
    border-right: solid 2px #8CBA91;
    border-left: solid 2px #8CBA91;
}

.portfolio {
    padding-top: 5em;
}

.portfolio-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.portfolio-box-container a {
    transition: 1s;
    width: 100%;
    overflow: hidden;
    transform: scale(1);
    
}

.portbox {
    transition: all 1s ease;
    position: relative;
}

.portfolio-box-container a:hover{
    transform: scale(1.2);
    z-index: 100;  
}

.portbox img {
    width: 100%;
}

.portbox h3 {
    position: absolute;
    bottom: 10%;
    margin-left: -1em;
    transition: 1s;
    transform: translateX(-110%);
}

.portfolio-box-container a:hover h3 {
    transform: translateX(0);
    margin-left: 1em;
}

.portfolio h1 {
    font-size: 2.7em;
    text-align: center;
    font-weight: 500;
}

.portfolio p {
    text-align: center;
    margin-bottom: 20px;
    color: var(--dark-green);
}

#lofitext {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.experience .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul li {
    padding: 20px;
    background-color: var(--secondary-white);
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}

.timeline ul li:last-child {
    margin-bottom: 0;
}

.timeline-content h1 {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.timeline-content h1 span {
    font-weight: 600;
}

.timeline-content p {
    font-size: 16px;
    font-weight: 400;
}

.timeline::before {
    content: '';
    position: absolute;
    height: 90%;
    width: 2px;
    background-color: #8CBA91;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #8CBA91;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -10px);
    z-index: 1;
}


@media only screen and (min-width: 768px){
    .timeline {
        padding: 5em 0;
    }
    
    .timeline::before {
        content: '';
        position: absolute;
        height: 90%;
        width: 2px;
        background-color: #8CBA91;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }

    .timeline ul li::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #8CBA91;
        border-radius: 50%;
        top: 0;
        left: unset;
        transform: unset;
        z-index: 1;
    }
    .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -30px;
    }
    .timeline ul li:nth-child(even)::after {
        transform: translate(-50%, -50%);
        left: -30px;
    }

    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
    }
    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
    }
}


  

@media only screen and (max-width: 750px) {
    .socialnav {
        display: none;
    }

    .burger div {
        width: 30px;
        height: 2px;
        background-color: #000;
        margin: 6px 0;
        transition: all .3s ease;
    }

    .burger {
        display: block;
        float: right;
        margin-right: 1em;
        cursor: pointer;
    }

    .logo {
        float: left;
        margin-left: 1em;
    }

    .navbar .container{
        display: unset;
    }

    nav {
        margin-top: 2.5em;
        margin-left: 1em;
        text-align: left;
        transition: .5s;
        transform: translateX(-100%);
    }

    .hero .container {
        flex-direction: column;
        text-align: center;
        justify-content: center;

    }

    .hero-text, .illus-div {
        width: 100%;
    }

    .hero-text h1 {
        width: 100%;
        text-align: center;
        font-size: 2em;
    }

    .recentprojects .container h1.projectheader {
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .slide {
        flex-direction: column;
        text-align: center;
    }

    .slide img{
        width: 100%;
        margin-right: 0;
    }
    
    .slide h1 {
        width: 100%;
        font-size: 2em;
        font-weight: 600;
    }
    
    .slide .projecttext{
        width: 100%;
        margin-right: 0;
    }

    .thirdproj img{
        width: 100%;
        margin-left: 0;
    }

    .navigation-manual, .navigation-auto{
        width: 20%;
    }

    .slider {
        width: 100%;
        height: 100%;
    }
    
    .slides{
        width: 500%;
    }

    .about {
        overflow: hidden;
        height: auto;
        padding: 1em 0;
    }

    .abouttext {
        grid-template-columns: 1fr;
    }
    
    .skills {
        height: 50vh;
        display: grid;
        place-content: center;
        background-color: var(--white);
        padding-bottom: 5em;
        margin-top: 8em;
    }
    
    .skills .container {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        gap: 3em;
    }

    .skills .skillbox {
        padding: 0;
    }

    .skills .center {
        border-left: none;
        border-right: none;
    }

    .portfolio {
        padding-top: 3em;
    }

    .portfolio-box-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.hidden {
    transform: translateX(-100%);
}

.none {
    display: none;
}

.block {
    display: block;
}

.shownav {
    transform: translateX(0);
}

.current {
    border-bottom: solid 1px var(--dark-green);
}

html {
    scroll-behavior: smooth;
}